<div class="welcome-title">
  <h1>Inregistreaza-te!</h1>
  <div class="login-container">
    <h3>Register</h3>

    <label for="username">Username:</label>
    <input class="form-input" type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input class="form-input" type="password" name="password" id="password">

    <button class="login-button" (click)="emitRegisterEvent()">Login</button>
    <button class="register-button" (click)="switchToLogin()">Switch to Register</button>
  </div>
</div>
