<div class="welcome-title">
  <h1>Bine ai venit!</h1>
  <div class="login-container">
    <h3>Login</h3>

    <label for="username">Username:</label>
    <input class="form-input" type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input class="form-input" type="password" name="password" id="password">

    <button class="login-button" (click)="emitLoginEvent()">Login</button>
    <button class="register-button" (click)="switchToRegister()">Switch to Register</button>
  </div>
</div>
